*{
    list-style: none;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    gap: 7px;
}
.logo-text{
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.full-header{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}
.links{
    display: flex;
    gap: 60px;
}
.links li a{
    color: #3D3D3F;
    text-decoration: none;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.btn button{
    display: flex;
padding: 12px 24px;
align-items: flex-start;
gap: 10px;
color: white;
border-radius: 5px;
opacity: 0.85;
border-color: #F35F2F;
background: var(--gd-color, linear-gradient(0deg, #F35F2F 0%, rgba(243, 95, 47, 0.75) 100%));
}
.text-big{
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
width: 500px;
padding-bottom: 42px;
font-size: 72px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.p-1{
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
width: 550px;
padding-top: 30px;
font-size: 20px;
padding-bottom: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-2 button{
    width: 219px;
    color: white;
height: 53px;
flex-shrink: 0;
border-color: #F35F2F;
border-radius: 5px;
opacity: 0.85;
background: var(--gd-color, linear-gradient(0deg, #F35F2F 0%, rgba(243, 95, 47, 0.75) 100%)); 
}
.chap{
    padding-left: 141px;
    padding-top: 142px;
}
.full-bir{
    display: flex;
}
.ong{
    padding-top: 111px;
}
.text-big2{
    padding-left: 364px;
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
padding-bottom: 55px;
padding-top: 120px;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.full-icons{
    display: flex;
    justify-content: space-between;
    width: 1000px;
height: 264px;
margin:  0 auto;
flex-shrink: 0;
gap: 20px;
border-radius: 17px;
border: 2px solid rgba(235, 235, 235, 0.80);
}
.ul-bir{
    padding-top: 34px;
    text-align: center;
    padding-left: 57px;
}
.ul-bir li{
    padding-top: 5px;
}
.ul-ikki{
    padding-top: 34px;
    text-align: center;
}
.ul-ikki li{
    padding-top: 5px;
}
.ul-uch{
    padding-top: 34px;
    text-align: center;
    padding-right: 97px;
}
.ul-uch li{
    padding-top: 5px;
}
.num{
    color: var(--primary, #3D3D3F);
font-family:sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text{
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#ikki{
    padding-bottom: 60px;
}
.card-bir{
    width: 356px;
height: 302px;
flex-shrink: 0;
border-radius: 23px;
background: #FFF;

/* SD */
box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
text-align: center;
}
.web{
padding-top: 50px;
color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p-2{
    color: #595959;
text-align: center;
font-family:sans-serif;
width: 277px;
margin:  0 auto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.cards{
    display: flex;
  justify-content: space-around;
}
.p-3{
    text-align: center;
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 20px;
padding-top: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.cards-bir{
    width: 392px;
height: 367px;
flex-shrink: 0;
border-radius: 11px;
background: #FFF;
}
.img-bir img{
    border-radius: 11px;
}
.Projects{
    display: flex;
    justify-content: space-around;
}
.btn-3{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 120px;
}
.btn-3 button{
    width: 242px;
height: 53px;
color:white;
border-color: #F35F2F;
flex-shrink: 0;
border-radius: 5px;
opacity: 0.85;
background: var(--gd-color, linear-gradient(0deg, #F35F2F 0%, rgba(243, 95, 47, 0.75) 100%));
}
.text-big5{
    padding-left: 520px;
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 40px;
padding-bottom: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-big3{
    color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 40px;
padding-left: 400px;
padding-top: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-big4{
    color: var(--primary, #3D3D3F);
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 420px;
    padding-top: 60px;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bir-man{
    text-align: center;
}
.text-small{
height: 27px;
flex-shrink: 0;
color: var(--textv-2, #3D3D3F);
text-align: center;
font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
}
.text-small2{
height: 20px;
flex-shrink: 0;
color: #999;
text-align: center;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
}
.icons-prog{
    padding-top: 17px;
    padding-bottom: 20px;
}
.full-man{
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}
.text-big6{
    color: var(--primary, #3D3D3F);
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 570px;
    padding-top: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input{
    display: flex;
    gap: 33px;
}
.inp1{
padding-left: 277px;
}
.inp1 input{
    width: 343.168px;
height: 52.378px;
flex-shrink: 0;
border: none;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.03);
}
.full-name{
    width: 152px;
height: 25px;
flex-shrink: 0;

color: var(--primary, #3D3D3F);
font-family: sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}
.text-area{
    opacity: 0.9;
    color: var(--primary, #3D3D3F);
font-family:sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
padding-top: 10px;
padding-left: 320px;
line-height: normal;
text-transform: uppercase;
width: 92px;
height: 19px;
flex-shrink: 0;
}
.inp-area textarea{
    width: 719px;
    height: 191px;
    flex-shrink: 0;
    border-radius: 5px;
    border: none;
    padding-top: 19px;
    padding-left: 18px;
background: #FFF;
box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.03);
}
.inp-area{
    padding-left: 300px;
    padding-top: 30px;
}
.btn-4 button{
    width: 242px;
    height: 53px;
    color:white;
    border-color: #F35F2F;
    flex-shrink: 0;
    border-radius: 5px;
    opacity: 0.85;
    background: var(--gd-color, linear-gradient(0deg, #F35F2F 0%, rgba(243, 95, 47, 0.75) 100%));
}
.btn-4{
    padding-top: 65px;
    padding-left: 803px;
    padding-bottom: 93px;
}
.bir-fut ul li {
padding-bottom: 20px;
width: 320px;
color: var(--medium-dark, #646464);
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 25.2px */
}
.full-foot{
    display: flex;
gap: 200px;
padding-left: 150px;
}
.ikki-fut{
    padding-top: 40px;
}
.uch-fut{
    padding-top: 40px;
}
.ikki-fut li{
    color: var(--dark, #323232);
font-family:sans-serif;
font-size: 16px;
padding-top: 15px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 100% */
}
.uch-fut li{
    color: var(--dark, #323232);
    font-family:sans-serif;
    font-size: 16px;
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
}